<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PanicExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Panicure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PanicureExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>224C9AAE1C8B47150068237D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>224C9AC21C8B47150068237D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB2CA7C51C8B6D99009ACF51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB6E94DF1C8B998800AD43B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
